.lmj-cart {
	color: white;
	background-color: #31abb4;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}

.lmj-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.lmj-cart-toggle-button {
	background: #31abb4;
	outline: none;
	border: none;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 0;
	color: white;	
	align-self: flex-end;
}

.lmj-cart-toggle-button:hover {
	color: black;
}

.lmj-cart-closed {
	padding: 32px;
	width: 300px;
}

.lmj-cart-closed > button {
	color: white;
	font-size: 14px;
	padding-left: 15px;
    padding-right: 15px;
	padding-top: 8px;
    padding-bottom: 8px;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	cursor: pointer;
}

.lmj-cart-closed > button:hover{
	background-color: #2b9ba3;
	color: white;
}

.lmj-cart-shop {
	content: #e547;
	height: 15px;
	width: 15px;
}

.lmj-cart-count{
	position: relative;
	top: -1px;	
	color: white;
	border-radius: 50rem !important;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	background-color: palevioletred;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
	margin-left: 12px;
}

.lmj-cart-corbeille{
	background: rgb(214, 25, 25);
	outline: none;
	border: none;
	border-radius: 0.25rem;
	font-weight: 600;
	cursor: pointer;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: white;	
}

.lmj-cart-corbeille:hover{
	background-color: rgb(201, 18, 18);
}