.lmj-shopping-list {
	width: 100%;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.lmj-shop-toggle-button {
	background-color: #31abb4;
	color: white;
	font-size: 14px;
	padding-left: 12px;
    padding-right: 12px;
	padding-top: 8px;
    padding-bottom: 8px;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	cursor: pointer;
}
.lmj-shop-toggle-button:hover {
	background-color: #2b9ba3;
}